@media (max-width: 1600px) {
  .header-site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: flex-start;
    align-items: center;
  }

  .header-site div img {
    width: 250px;
  }
}

@media print {
  body {
    display: none;
  }
}
